{% extends 'base.html.twig' %}

{% block title %}Login | {{ parent()}}{% endblock %}

{% block body %}
    <h1>Inscription</h1>
<div>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}


        <button type="submit" class="btn">Connexion</button>
    {{ form_end(registrationForm) }}

</div>
{% endblock %}
