{% extends 'base.html.twig' %}

{% block title %}Login | {{ parent()}}{% endblock %}

{% block body %}
    <h1>Inscription</h1>
<div>
    {{ form_start(registrationForm) }}
        {{form_widget(registrationForm)}}


        <button type="submit" class="btn">
            <a href="{{ path('sorties_list') }}" title="Sorties">
            S'Enregistrer
            </a>
        </button>
    {{ form_end(registrationForm) }}

</div>
{% endblock %}
