{% extends 'base.html.twig' %}

{% block title %}New Seb{% endblock %}

{% block extrastyles %}

{% endblock %}

{% block body %}
    <h1>Créer une sortie</h1>
    <section id="principale">
        <div id="gauche">
            {{ form_start(form) }}
            {{ form_row(form.villes) }}
            {{ form_row(form.lieu)}}
            {{ form_end(form) }}
        </div>
        <div id="droit">
            <p>Campus </p>

            {#        {{ form_start(lieuForm) }}
            {{ form_widget(lieuForm) }}
            <button class="btn">{{ button_label|default('Save') }}</button>
            {{ form_end(lieuForm) }}  #}
        </div>

    </section>

{% endblock %}

{% block javascripts %}
    <script>
        window.onload = () => {
            /*
            const getLieux = async function () {
                let form2 = this.closest("form");
                let data2 = form2.name + '=' + form2.value;
                let response2 = await fetch(form2.action, {
                    method: form2.getAttribute("method"),
                    body: data2,
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded:charset=utf-8'
                    }
                })
                let promise1 = await response2.text();
                console.log(promise1)
            }
            getLieux();*/
            //récupération de la ville
            let villes = document.querySelector("#seb_villes");
            console.log(villes);
            villes.addEventListener("change", function () {
                let form = this.closest("form");
                console.log(form);
                let data = this.name + '=' + this.value;
                console.log(data);

                console.log(form.getAttribute("method"));
                //envoi en AJAX

         /*       const getLieux = async function () {

                    let response2 = await fetch(form.action, {
                        method: form.getAttribute("method"),
                        body: data,
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded:charset=utf-8'
                        }
                    })
                    let promise1 = await response2.text().then(
                        (html) => {
                            let content = document.createElement("html")
                            content.innerHTML = html
                            let nouveauSelect = content.querySelector("#seb_villes")
                            document.querySelector("#seb_villes").replaceWith(nouveauSelect)
                        }
                        )
                    ;

                }
                getLieux();
                console.log(getLieux());*/
               fetch(form.action, {
                    method: form.getAttribute("method"),
                    body: data,
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'
                    }
                })
                    .then(response => response.text())
              /*      .then(html => {
                        let content = document.createElement('html');
                        content.innerHTML = html;
                        let nouveauSelect = content.querySelector("#seb_villes");
                        document.querySelector("#seb_villes").replaceWith(nouveauSelect);
                    })*/
                   .then(html => {
                       let content = document.createElement('html');
                       content.innerHTML = html;
                       let nouveauSelect = content.querySelector("#seb_lieu");
                       document.querySelector("#seb_lieu").replaceWith(nouveauSelect);
                   })
             /*      .then(console.log)  */
            });
        };
    </script>
    {#
    <script>
    let $ville = $('#sortie_villes');
    $ville.change(function() {
        let $form = $(this).closest('form');
        let data = {};
        data[$ville.attr('name')] = $ville.val();
        $.ajax({
            url : $form.attr('action'),
            type : $form.attr('get|post'),
            data : data,
            complete : function(html) {
                $ville.replaceWith(
                    $(html.responseText).find('#sortie_villes')
                );

            }
        });
    });
    </script>} #}
{% endblock %}
