{% extends 'base.html.twig'%}

{% block title %}{{ parent()}} |autreProfil {% endblock%}

{% block body%}


    <div>

        <h1>{{ user2.pseudo }}</h1>
        <p>Prénom: {{ user2.prenom }}</p>
        <p>Nom: {{ user2.nom }}</p>
        <p>Email: {{ user2.telephone}}</p>


    </div>
{% endblock %}