{% extends 'base.html.twig'%}

{% block title %}{{ parent()}} |autreProfil {% endblock%}




{% block extrastyles %}
    <style>
        h1{
            text-align: center;
        }
        section {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;

        }
        p{
            text-align: center;
        }
        #a{
            text-decoration: none;
        }
        button{
            width: 80px;
            height: 50px;
        }
    </style>
{% endblock %}



{% block body%}

    <h1>{{ user2.pseudo }}</h1>
<section>
    <div>
        <p>Prénom: {{ user2.prenom }}</p>
        <p>Nom: {{ user2.nom }}</p>
        <p>Téléphone: {{user2.telephone}}</p>
        <p>Email: {{ user2.email }}</p>
    </div>
</section>
    <p>
    <button>
        <a href="{{ path('main_list') }}" title="retour" id="a">
            Retour</a>
    </button>
    </p>

{% endblock %}