{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block body %}
    <div>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p>Date du jour : {{ "now" | date("d/m/Y")}}</p>
            <p> Participant : {{app.user.prenom | capitalize}} {{app.user.nom | capitalize | first}}.</p>

        {% endif %}

    </div>

    <h3>Filtrer les sorties</h3>

 {#   {{ form_start(filtreListe) }}

    {{ form_widget(filtreListe) }}

    {{ form_end(filtreListe) }}#}
    <br>



        <table class="table">
            <thead>
            <tr>
                {#        <th>Id</th> #}
                <th>Nom</th>
                <th>DateHeureDebut</th>
                <th>Duree</th>
                <th>DateLimiteInscription</th>
                <th>NbInscriptionsMax</th>
                {#      <th>InfosSortie</th>#}
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
                <tr>
                    {#       <td>{{ sortie.id }}</td>#}
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d-m-Y H:i') : '' }}</td>
                    <td>{{ sortie.duree ? sortie.duree|date('H:i') : '' }}</td>
                    <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d-m-Y') : '' }}</td>
                    <td>{{ sortie.nbInscriptionsMax }}</td>
                    {#         <td>{{ sortie.infosSortie }}</td>#}
                    <td>
                        <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">show</a>
                        <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <div>
            <a href="{{ path('app_sortie_new') }}">Create new</a>
        </div>

     <button> <a href="{{ path('creer_sorties') }}" title="Creer une sortie">Creer une sortie</a></button>

{% endblock %}

