{% extends 'base.html.twig' %}

{% block title %}
Accueil
{% endblock %}

{% block extrastyles%}
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>


    <link rel="stylesheet" href="{{ asset('css/list.css') }}">
{% endblock %}


{% block body %}
    <div id="utilisateur">

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div>
            <p>Date du jour : {{ "now" | date("d/m/Y")}}</p>
            <p> Participant : {{app.user.prenom | capitalize}} {{app.user.nom | capitalize | first}}.</p>
            </div>
        {% endif %}

     {# A DECOMMENTER POUR ACRIVER LE BOUTON SE CONNECTER
     {% if is_granted('IS_ANONYMOUS')%}
            Merci de vous connecter
            <button> <a href="{{ path('app_login') }}" title="se connecter">Se Connecter</a></button>
        {%endif%}#}

    </div>

    <h3>Filtrer les sorties</h3>

 {#   {{ form_start(filtreListe) }}

    {{ form_widget(filtreListe) }}

    {{ form_end(filtreListe) }}#}
    <br>



        <table class="table">
            <thead>
            <tr>
                {#        <th>Id</th> #}
                <th>Nom de la sortie</th>
                <th>Date de la sortie </th>
                <th>Clôture </th>
                <th>inscrits/places </th>
                <th>Etat </th>
                <th>tu en es?</th>
                <th>Organisateur </th>
                <th>Actions </th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
                <tr>

                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d-m-Y H:i') : '' }}</td>
                    <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d-m-Y') : '' }}</td>
                    <td>{{ sortie.nbInscriptionsMax +10 }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>??</td>
                    <td> {{sortie.organisateur.nom}} </td>
                    <td>
                        <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">Afficher</a>
                        <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>


     <button> <a href="{{ path('creer_sorties') }}" title="Creer une sortie" id="creer">Creer une sortie</a></button>

{% endblock %}

