{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block body %}
    <div>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p>Date du jour : {{ "now" | date("m/d/Y")}}</p>
            <p> Participant : {{app.user.prenom}}</p>

        {% endif %}

    </div>

    <h3>Filtrer les sorties</h3>

    {{ form_start(filtreListe) }}

    {{ form_widget(filtreListe) }}

    {{ form_end(filtreListe) }}
    <br>

     <button type="submit"> <a href="{{ path('creer_sorties') }}" title="Creer une sortie">Creer une sortie</a></button>

{% endblock %}

