{% extends 'base.html.twig'%}

{% block title %}{{ parent()}} |Profil {% endblock%}

{% block extrastyles%}
      <link rel="stylesheet" href="{{ asset('css/monProfli.css') }}">
{% endblock %}

{% block body%}

    <h1>Mon Profil</h1>

    <main class="container">

        <div id="profil">
            Ma photo de profil
        </div>

          <div id="photo">
              {#POUR UPLOAD PHOTO
              {% if (objet.champ) %}
                  <img src="{{ asset('images/' ~ objet.champ) }}">
              {% endif %}#}
             <img src="{{ asset('img/photo profil.png') }}" alt="profil">
          </div>



        <main>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            {{ form_start(registrationForm) }}
            {{ form_widget(registrationForm) }}

            <button type="submit" class="btn">
                <a title="Enregistrer">
                Enregistrer
                </a>
            </button>

            <button type="reset" class="btn">
                <a href="{{ path('app_login') }}" title="Annuler">
                Annuler
                </a>
            </button>
            {{ form_end(registrationForm) }}
        {% endif %}

        {% if is_granted('IS_ANONYMOUS')%}
        Merci de vous connecter
            <button> <a href="{{ path('app_login') }}" title="se connecter">Se Connecter</a></button>
        {%endif%}
        </main>



</div>




{% endblock %}
