{% extends 'base.html.twig'%}

{% block title %}{{ parent()}} |Profil {% endblock%}

{% block body%}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        <h2>{{ app.user.pseudo }}</h2>
        <p>Prénom: {{ app.user.prenom }}</p>
        <p>Nom: {{ app.user.nom }}</p>
        <p>Email: {{ app.user.email }}</p>


    {% endif %}




{% endblock %}
