{% extends 'base.html.twig' %}

{% block title %}New Sortie{% endblock %}

{% block extrastyles %}
    <style>
        h1{
            text-align: center;
        }
        section {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            border: solid;
        }
        #gauche{
            border: solid;

        }

    </style>
{% endblock %}

{% block body %}
    <h1>Créer une sortie</h1>
    <section id="principale">
        <div id="gauche">
            {{ include('sortie/_form.html.twig') }}
        </div>
        <div id="droit">
            <p>Campus  {{ app.user.campus.nom }}</p>

    {#        {{ form_start(lieuForm) }}
            {{ form_widget(lieuForm) }}
            <button class="btn">{{ button_label|default('Save') }}</button>
            {{ form_end(lieuForm) }}  #}
        </div>

    </section>
    <a href="{{ path('app_sortie_index') }}">retour à la liste</a>
{% endblock %}

{% block javascripts %}
    <script>
        window.onload = () => {
            //récupération de la ville
            let villes = document.querySelector('#sortie_villes');
            console.log(villes);
            villes.addEventListener('change',function(){
               let form = this.closest('form');
               console.log(form);
               let data = this.name+'='+this.value;
               console.log(data);

               //envoi en AJAX
                fetch(form.action, {
                    method: form.getAttribute('method'),
                    body: data,
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded;charset:utf-8"

                    }
                })
                    .then(response => response.text())
                    .then(html => {
                        let content = document.createElement("html");
                        content.innerHTML = html;
                        let nouveauSelect = content.querySelector("#sortie_villes");
                        document.querySelector("#sortie_villes").replaceWith(nouveauSelect);
                    })
            });
        };
    </script>
{#
    <script>
    let $ville = $('#sortie_villes');
    $ville.change(function() {
        let $form = $(this).closest('form');
        let data = {};
        data[$ville.attr('name')] = $ville.val();
        $.ajax({
            url : $form.attr('action'),
            type : $form.attr('get|post'),
            data : data,
            complete : function(html) {
                $ville.replaceWith(
                    $(html.responseText).find('#sortie_villes')
                );

            }
        });
    });
    </script>}#}
{% endblock %}
