{% extends 'base.html.twig' %}

{% block title %}New Sortie{% endblock %}

{% block extrastyles %}
    <style>
        h1{
            text-align: center;
        }
        #principale {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            border: solid;
        }
        #gauche{
            border: solid;
            width: 40%;
        }
        #droit{
            border: solid;
            width: 40%;
        }

    </style>
{% endblock %}

{% block body %}
    <h1>Créer une sortie</h1>
    {{ form_start(form)}}
    <section id="principale">

            <div id="gauche">
                <div> {{ form_row(form.nom) }} </div>
                <div> {{ form_row(form.dateHeureDebut)}} </div>
                <div> {{ form_row(form.dateLimiteInscription)}} </div>
                <div> {{ form_row(form.nbInscriptionsMax) }} </div>
                <div> {{ form_row(form.duree) }} </div>
                <div> {{ form_row(form.infosSortie) }} </div>
            </div>

            <div id="droit">
                <div>Campus  {{ app.user.campus.nom }}</div>
                <div> {{ form_row(form.villes) }}</div>
                <div> {{ form_row(form.lieu)}} </div>
                <div>Rue   </div>
                <div>  </div>
                <div>  </div>
                <div>  </div>

            </div>

    </section>
    <div>
        <button type="submit">Enregister</button>
        <button type="reset">Annuler</button>
    </div>
    {{ form_end(form)}}
    <a href="{{ path('app_sortie_index') }}">retour à la liste</a>
{% endblock %}

{% block javascripts %}
    <script>
        window.onload = () => {
            //récupération de la ville
            let villes = document.querySelector('#sortie_villes');
            console.log(villes);
            villes.addEventListener("change",function () {
               let form = this.closest('form');
               console.log(form);
               let data = this.name+ '=' +this.value;
               console.log(data);
                console.log(form.getAttribute("method"));

               //envoi en AJAX
                fetch(form.action, {
                    method: form.getAttribute("method"),
                    body: data,
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'
                    }
                })
                    .then(response => response.text())
                    .then(html => {
                        let content = document.createElement('html');
                        content.innerHTML = html;
                        let nouveauSelect = content.querySelector("#sortie_lieu");
                        document.querySelector("#sortie_lieu").replaceWith(nouveauSelect);
                    })
            });
        };
    </script>
{#
    <script>
    let $ville = $('#sortie_villes');
    $ville.change(function() {
        let $form = $(this).closest('form');
        let data = {};
        data[$ville.attr('name')] = $ville.val();
        $.ajax({
            url : $form.attr('action'),
            type : $form.attr('get|post'),
            data : data,
            complete : function(html) {
                $ville.replaceWith(
                    $(html.responseText).find('#sortie_villes')
                );

            }
        });
    });
    </script>}#}
{% endblock %}
